<?xml version="1.0" encoding="UTF-8"?>
<module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://tn.com.smartsoft/dtds/module.xsd">
	<module-id value="configGenerale" />
	<default-data-source value="DefaultSession" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/configGenerale/organisationSociete/localite/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/configGenerale/organisationSociete/pays/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/configGenerale/organisationSociete/gouvernorat/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/iap/administration/securite/profile/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/configGenerale/devises/devise/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/configGenerale/devises/cours/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/iap/administration/securite/utilisateur/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/iap/administration/securite/audit/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/configGenerale/organisationSociete/societe/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/configGenerale/organisationSociete/organisation/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/configGenerale/dynamicEntite/entiteSimple/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/configGenerale/administration/organismeProprietaires/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/configGenerale/autresParametrage/etatCivils/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/configGenerale/autresParametrage/dataEntitesSimples/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/configGenerale/administration/fonctionUtilisation/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/configGenerale/autresParametrage/jourSemaine/beans/mapping.hbm.xml" />
	<add-mapping data-source-name="DefaultSession" location="tn/com/smartsoft/configGenerale/autresParametrage/mois/beans/mapping.hbm.xml" />
	<sub-modules>
		<sub-module sub-module-id="referentiel" default-data-source="DefaultSession">
			<sujet sujet-id="file" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/iap/administration/referentiel/file/file.beans.xml" />
			</sujet>
		</sub-module>
		<sub-module sub-module-id="securite" default-data-source="DefaultSession">
			<sujet sujet-id="profile" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/iap/administration/securite/profile/profile.beans.xml" />
			</sujet>
			<sujet sujet-id="utilisateur" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/iap/administration/securite/utilisateur/utilisateur.beans.xml" />
			</sujet>
			<sujet sujet-id="audit" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/iap/administration/securite/audit/audit.beans.xml" />
			</sujet>
		</sub-module>
		<sub-module sub-module-id="organisationSociete" default-data-source="DefaultSession">
			<sujet sujet-id="societe" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/organisationSociete/societe/societe.beans.xml" />
			</sujet>
			<sujet sujet-id="organisme" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/organisationSociete/organisation/organisation.beans.xml" />
			</sujet>
			<sujet sujet-id="pays" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/organisationSociete/pays/pays.beans.xml" />
			</sujet>
			<sujet sujet-id="gouvernorat" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/organisationSociete/gouvernorat/gouvernorat.beans.xml" />
			</sujet>
			<sujet sujet-id="localite" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/organisationSociete/localite/localite.beans.xml" />
			</sujet>
			<sujet sujet-id="etatsCivils" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/autresParametrage/etatCivils/etatCivils.beans.xml" />
			</sujet>
			<sujet sujet-id="dataEntitesSimples" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/autresParametrage/dataEntitesSimples/dataEntitesSimples.beans.xml" />
			</sujet>
			<sujet sujet-id="mois" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/autresParametrage/mois/mois.beans.xml" />
			</sujet>
			<sujet sujet-id="jourSemaine" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/autresParametrage/jourSemaine/jourSemaine.beans.xml" />
			</sujet>
		</sub-module>
		<sub-module sub-module-id="Devises" default-data-source="DefaultSession">
			<sujet sujet-id="devise" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/devises/devise/devise.beans.xml" />
			</sujet>
			<sujet sujet-id="cours" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/devises/cours/cours.beans.xml" />
			</sujet>
		</sub-module>
		<sub-module sub-module-id="administration" default-data-source="DefaultSession">
			<sujet sujet-id="organismeProprietaires" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/administration/organismeProprietaires/organismeProprietaires.beans.xml" />
			</sujet>
			<sujet sujet-id="fonctionUtilisation" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/administration/fonctionUtilisation/fonctionUtilisation.beans.xml" />
			</sujet>
		</sub-module>
		<sub-module sub-module-id="dynamicEntite" default-data-source="DefaultSession">
			<sujet sujet-id="entiteSimple" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/dynamicEntite/entiteSimple/entiteSimple.beans.xml" />
			</sujet>
			<sujet sujet-id="paramEntiteSimple" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/dynamicEntite/paramEntiteSimple/paramEntiteSimple.beans.xml" />
			</sujet>
			<sujet sujet-id="paramChampDynamique" default-data-source="DefaultSession">
				<beans location="tn/com/smartsoft/configGenerale/dynamicEntite/paramChampDynamique/paramChampDynamique.beans.xml" />
			</sujet>
		</sub-module>
	</sub-modules>
</module>